<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.wiseloong.open.mapper.TOpenAppMapper">
    <select id="list" resultType="Map" parameterType="com.baomidou.mybatisplus.core.conditions.Wrapper">
         SELECT * FROM t_open_app
         ${ew.customSqlSegment}
    </select>
    <select id="queryList" resultType="ai.wiseloong.open.pojo.vo.TOpenAppVo" parameterType="com.baomidou.mybatisplus.core.conditions.Wrapper">
        SELECT * FROM t_open_app
        ${ew.customSqlSegment}
    </select>
    <select id="query" resultType="ai.wiseloong.open.pojo.vo.TOpenAppVo" parameterType="com.baomidou.mybatisplus.core.conditions.Wrapper">
        SELECT * FROM t_open_app
        ${ew.customSqlSegment}
    </select>

    <insert id="batchInsert">
        insert into t_open_app
        (id,mc,pcUrl,sjUrl,icons,yyfl,ssfl,yylx,blfs,ssbm,gjz,ywsx,bldd,zxdh,dkfs,sfqy,jzfs,isLogin,syxs,fztj,sort,bz,sfxsjj,yyjj,yyly,dsfyyId,zyzid,zyid,tenantId,createId,createTime,updateId,updateTime)values
        <foreach collection="list" separator="," item="item">
            (#{item.id},#{item.mc},#{item.pcUrl},#{item.sjUrl},#{item.icons},#{item.yyfl},#{item.ssfl},#{item.yylx},#{item.blfs},#{item.ssbm},#{item.gjz},#{item.ywsx},#{item.bldd},#{item.zxdh},#{item.dkfs},#{item.sfqy},#{item.jzfs},#{item.isLogin},#{item.syxs},#{item.fztj},#{item.sort},#{item.bz},#{item.sfxsjj},#{item.yyjj},#{item.yyly},#{item.dsfyyId},#{item.zyzid},#{item.zyid},#{item.tenantId},#{item.createId},#{item.createTime},#{item.updateId},#{item.updateTime} )
        </foreach>
    </insert>

</mapper>